* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

img {
    max-width: 100%;

}

/* common style */
.common-btn {
    background-color: #1D4ED8;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
    border: none;

}

.outline-btn {
    background: white;
    color: #1D4ED8;
    border: 1px solid #1D4ED8;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
}

header {
    background-color: #FFFFFF;
}

.container {
    max-width: 1200px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 80px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

ul li a {
    text-decoration: none;
    color: #575757
}

/* hero section style */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55),
            rgba(0, 0, 0, 0.35)),
        url("../assets/banner.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 650px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    max-width: 830px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 80px 80px 50px;
}

.hero-content h1 {
    color: white;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;


}

.hero-content p {
    color: white;
    font-size: 18px;
    font-weight: 450;


}

.hero-btn {
    align-self: center;
    margin-top: 70px;

}

/* meet the speakers styles */

.speakers {
    padding: 80px 0;

}

.speakers h2 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 50px;


}

.speaker-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;

}

.card h4 {
    padding: 10px;
    margin: 10px 0;
}

.card p {
    font-size: 12px;
    padding: 0 10px 10px;

}

.category {
    color: #2563EB;
    font-size: 5px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* pricing styles */
.pricing {
    padding: 100px 0;
}

.pricing h2 {
    text-align: center;
    font-size: 40px;
}

.sub-title {
    text-align: center;
    margin: 15px 0 50px;
    color: gray;
}

.price-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.price-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;

}

.price-card h3 {
    font-size: 46px;
    margin: 12px 0;


}

.ccard hr {
    margin: 20px 0;
}

.price-card ul {
    margin: 25px 0;
    padding-left: 20px;
    display: block;
    list-style: circle;

}

.price-card li {
    margin-bottom: 12px;
}

.active {
    background-color: #0D1B2A;
    color: #FFFFFF;
}

.card-button {
    width: 100%;

}

/* Placeholder Section */
.faq-section {
    padding: 100px 0;
    background: #f8fafc;
}

.section-title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 15px;
}

.section-description {
    text-align: center;
    color: #6b7280;
    margin-bottom: 50px;
}

.faq-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.faq-card {
    background: #ffffff;
    padding: 25px;
    border: 4px solid #4769ad;
    border-radius: 12px;
    transition: .3s;
}

.faq-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
}

.faq-card h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #111827;
}

.faq-card p {
    color: #6b7280;
    line-height: 1.7;
}

/* footer */
.footer {
    background-color: #0D1B2A;
    color: #FFFFFF;
    padding: 10px 0 10px;

}

.footer-logo {
    text-align: left;
    font-size: 26px;
    margin-bottom: 15px;
}

.footer-text {
    width: 600px;
    margin: 0 auto 30px;
    text-align: left;
    line-height: 1.6;

}

.footer-link {

    gap: 30px;
    margin-bottom: 20px;
    color: #5c6787;
}

.footer-link a {
    color: #162f75;
    text-decoration: none;

}

.footer hr {
    border: 1px solid #6b7280
}

.copyright {
    text-align: center;

}